body {
    background-color: #F4F5F7;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px 0;
}

.header {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.hr1 {
    margin-top: 20px;
    border: 1px solid;
}

.button {
    background: none;
    border: none;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.header_img {
    width: 30;
    height: 30px;
    border-radius: 50%;
    position: absolute; 
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
}

.h1 {
    font-size : 32px;
    padding: 0 1rem;
    margin: 0
}

.wrap {
    width: 100%;
    margin: 0 auto;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
}

.make_post {
    justify-content: center;
    display: flex;
}

h5 {
    margin-bottom: auto;
    padding-left: 1.2rem;
}

.input {
    width: 100%;
    border: none;
    background: #F4F5F7;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    padding-left: 1rem;
}

.input-container {
    position: relative;
}

textarea {
    width: 95%;
    border: none;
    background: #F4F5F7;
    font-size: 12px;
    margin-left: 1rem;
    font-weight: 700;
    height: 300px;
}

form {
    margin-top: 1rem;
    padding-left: 1.2rem;
}

.line {
    margin: 0;
    margin-top: 0.5rem;
}

.button_div{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    align-self: center;
}

.submit {
    width: 100%;
    padding: 0.5rem;
    background-color: #ACA0EB;
    border: none;
    border-radius: 0.3rem;
    color: #ffffff;
    font-weight: bold;
    font-size: small;
}

.title_label {
    display: block;
    position: absolute;
    padding-left: 1.2rem;
    font-weight: 700;
    margin-top: 8px;
}

.content_div {
    height: 400px;
}

.content_label {
    position: absolute;
    left: 0%;
    font-size: 15px;
    margin-top: 0.5rem;
    padding-left: 1.2rem;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    height: 20px;
}

.empty_div {
    margin-left: 1rem;
    height: 306px;
    width: 544px;
    background-color: #D9D9D9;
}