body {
    background-color: #F4F5F7;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 20px 0;
}

.header {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.hr1 {
    margin-top: 20px;
    border: 1px solid;
}

.header_img {
    width: 30;
    height: 30px;
    border-radius: 50%;
    position: absolute; 
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.h1 {
    font-size : 32px;
    padding: 0 1rem;
    margin: 0;
}

.wrap {
    margin: 0 auto;
    width: 355px;
    margin-top: 5rem;
}

.dropdown {
    position: absolute;
    background-color: #D9D9D9;
    border: none;
    left: 80%;
    display: none;
    z-index: 1;
    width: 100px;
}

.header_img:active + .dropdown{
    display: block;
}

a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown > a {
    color : black;
}

.profile-picture-container {
    position: relative;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    left: 30%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.2s;
}

.profile-picture-container:hover .profile-overlay {
    opacity: 1;
}

.change-button {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    color:#ffffff;
}

.profile-edit {
    display: none;
}

.input--item {
    border-radius: 10px;
    height: 33px;
    border: 1px solid #000000;
    background-color: #F4F5F7;
    width: 350px;
}

.button {
    width: 355px;
    padding: 0.5rem;
    background-color: #ACA0EB;
    border: none;
    border-radius: 0.3rem;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin: 1rem;
}

.button:hover, .edit-btn:hover {
    background-color: #7F6AEE;
}

.quit-btn {
    border: none;
    background: none;
    font-weight: 400;
    cursor: pointer;
}

.edit-btn {
    width: 80px;
    padding: 0.5rem;
    background-color: #ACA0EB;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 400;
    margin: 5rem;
}

.logout_btn {
    border: none;
    background: #D9D9D9;
    font-size: 12px;
    cursor: pointer;
}


.modal {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal .modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
}

.cancel_btn {
    border: none;
    background: #000000;
    border-radius: 5px;
    color: #ffffff;
    width: 50px;
    height: 25px;
}

.submit_btn {
    border: none;
    background: #C4A5FA;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

.hidden {
    display: none;
}

.visible{
    display: block;
}